<div class="card">
    <div class="card-header">
        <h5 class ="m-0">Robot {{ robot.id }} - {{ robot.nom }}</h5>
    </div>
    <div class="card-body">
        <div class="col-auto">
            <label class="col-form-label">Statut :</label>
            <span> {{robot.statut}}</span>
        </div>
    
        <div class="col-auto">
            <label class="col-form-label">Adresse IP :</label>
            <span> {{robot.adresse_ip}}</span>
        </div>
    
        <div *ngFor="let KPI of robot.KPIs" class="col-auto">
            <label class="col-form-label">{{KPI.label}} :</label>
            <span> {{KPI.valeur}}</span>
        </div>
        
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="programmme" class="col-form-label">Programme</label>
          </div>
          <div class="col-auto">
            <select type="text" id="programmme" class="form-select form-select-sm" (change)="onChangeProgram($event)">
              <option value="">Choisir un programme</option>
              <option
                *ngFor="let programme of robot.programmes"
                value="{{ programme }}"
                [selected]="programme === robot.programme_execute"
              >
                {{ programme }}
              </option>
            </select>
          </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary btn-sm" [disabled]="disExecProgram" >Lancer le programme</button>  
                <!-- <button *ngIf="robot.programme_execute" type="button" class="btn btn-danger btn-sm"> Arrêter le programme </button>     -->
            </div>
        </div>
    </div>
</div>